# Игнорируем мобильное приложение!
fml_app/

# Игнорируем настройки IDE
.idea/
.vscode/

# Игнорируем Git
.git/
.gitignore

# Игнорируем локальные данные БД, если они лежат в папке
db_data/
auth_db_data/
redis_data/